* {
  box-sizing: border-box;
}

body {
  font-family: Baskerville;
  padding: 10px;
  background: #f1f1f1;
  font-family: Arial
}

.header {
  padding: 30px;
  text-align: center;
  background: lightblue;
  font-family: Arial
}

.header h1 {
  font-size: 50px;
font-family: Arial
}


.topnav {
  overflow: hidden;
  background-color: royalblue;
  font-family: Arial
}


.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-family: Arial
}


.topnav a:hover {
  background-color: #ddd;
  color: hotpink;
  font-family: Arial
}


.leftcolumn {   
  float: left;
  width: 75%;
}


.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}


.card {
  background-color: lightsteelblue;
  padding: 20px;
  margin-top: 20px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.footer {
  padding: 20px;
  text-align: center;
  background: lightblue;
  margin-top: 20px;
}

.cuadro {
      border: 1px solid #ccc;
      padding: 20px;
      background-color: #f7f7f7;
      border-radius: 5px;
      font-family: Arial, sans-serif;
    }

@media screen and (max-width: 1000px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
  .mural {
      width: 500px;
      height: 300px;
      overflow: hidden;
      position: relative;
    }

    .mural img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }

    .mural img.active {
      opacity: 1;
    }
  



